@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes disappear {
  from {
    opacity: 1;
    transform: translateY(0px); }
  to {
    opacity: 0;
    transform: translateY(-10px); } }

@keyframes zoomIn {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }

@keyframes zoomOut {
  from {
    transform: scale(1.1); }
  to {
    transform: scale(1); } }

@keyframes changeBackgroundColor {
  0% {
    background-color: crimson; }
  50% {
    background-color: orange; }
  100% {
    background-color: crimson; } }

.practiceFour {
  margin-top: 10px;
  display: flex; }
  .practiceFour hr, .practiceFour p {
    color: azure; }
  .practiceFour .myData {
    border-radius: 10px;
    box-shadow: 2px 2px 6px grey;
    width: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(16deg, #408ab4 80%, #34699a 80.1%); }
    .practiceFour .myData .personalData {
      text-align: start;
      display: grid;
      grid-template-columns: 40% 60%; }
    .practiceFour .myData .languages {
      text-align: start;
      display: grid;
      grid-template-columns: 40% 40%; }
    .practiceFour .myData h1 {
      margin-top: 10px;
      color: azure; }
    .practiceFour .myData h2 {
      margin-top: 10px;
      color: azure; }
    .practiceFour .myData h3 {
      margin-top: 10px;
      color: azure; }
    .practiceFour .myData h4 {
      margin-top: 10px;
      color: azure; }
    .practiceFour .myData h5 {
      margin-top: 10px;
      color: azure; }
    .practiceFour .myData h6 {
      margin-top: 10px;
      color: azure; }
    .practiceFour .myData img {
      align-self: center;
      border-radius: 999px;
      width: 160px; }
  .practiceFour .academicData {
    padding: 5px;
    margin-left: 5px;
    text-align: center; }
    .practiceFour .academicData h1 {
      text-align: center; }
    .practiceFour .academicData h2 {
      text-align: center; }
    .practiceFour .academicData h3 {
      text-align: center; }
    .practiceFour .academicData .achievements {
      text-align: start; }
    .practiceFour .academicData .knowledge {
      width: 100%;
      display: grid;
      grid-template-columns: 60% 40%;
      text-align: start;
      align-items: center; }
    .practiceFour .academicData p {
      color: black;
      margin: 5px 0; }
    .practiceFour .academicData hr {
      border: 1px solid #34699a; }
    .practiceFour .academicData h3 {
      margin: 10px 0;
      border-bottom: 1px solid #34699a;
      display: inline-block; }

.practiceFive {
  display: flex;
  margin-top: 10px; }
  .practiceFive .criba {
    width: 75%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; }
    .practiceFive .criba .square {
      display: flex;
      width: 4vw;
      height: 4vw;
      font-size: 2.1vw;
      border-radius: 99px;
      justify-content: center;
      align-items: center; }
  .practiceFive .options {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2%;
    width: 20%; }
    .practiceFive .options .buttons {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .practiceFive .options .buttons button {
        margin: 1% 0;
        font-size: 1em;
        border-radius: 999px;
        border: none;
        width: 20%;
        height: 30px; }
      .practiceFive .options .buttons button:hover {
        animation: moreSize 0.1s linear;
        transform: scale(1.1); }

@keyframes moreSize {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.welcome {
  animation: appear 1s linear;
  font-size: 2vw;
  text-align: center;
  margin-top: 17vw; }

.mainPage {
  display: flex;
  justify-content: space-between; }

.menu {
  background: linear-gradient(crimson, indigo);
  height: 100vh;
  position: fixed;
  width: 22%; }

.title {
  display: flex;
  justify-content: center;
  margin: 1vw 3% 3vw 6%;
  text-align: center; }
  .title p {
    box-sizing: border-box;
    padding: 0.5vw;
    border-style: solid;
    border-radius: 3vw;
    color: white;
    font-size: 2vmax; }

.practices-content {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around; }

.practice {
  box-sizing: border-box;
  margin: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.check {
  display: none; }

.toggle {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  margin-top: 10%;
  padding: 2px 4px;
  width: 100%;
  border-radius: 9999px;
  animation: zoomOut 0.03s linear;
  background-color: rgba(58, 0, 136, 0.5); }

.toggle:hover {
  background-color: rgba(58, 0, 136, 0.5);
  border-radius: 9999px;
  animation: zoomIn 0.05s linear;
  transform: scale(1.1); }

.btnLink {
  color: white;
  text-decoration: none;
  width: 103%;
  font-size: 0.9em;
  text-align: center;
  animation: zoomOut 0.2s linear; }

.btnLink:hover {
  background-color: rgba(58, 0, 136, 0.5);
  border-radius: 9999px;
  animation: zoomIn 0.2s linear;
  transform: scale(1.1); }

.isfalse {
  pointer-events: none; }

#title1:checked ~ #list1-practices {
  opacity: 1;
  animation: appear 0.4s linear; }

#title1:not(:checked) ~ #list1-practices {
  opacity: 0;
  animation: disappear 0.2s linear; }

#list1-practices {
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #list1-practices .typeFile {
    font-size: 1em;
    margin: 5% 0; }

#title2:checked ~ #list2-practices {
  opacity: 1;
  animation: appear 0.4s linear; }

#title2:not(:checked) ~ #list2-practices {
  opacity: 0;
  animation: disappear 0.2s linear; }

#list2-practices {
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #list2-practices .typeFile {
    font-size: 1em;
    margin: 5% 0; }

#title3:checked ~ #list3-practices {
  opacity: 1;
  animation: appear 0.4s linear; }

#title3:not(:checked) ~ #list3-practices {
  opacity: 0;
  animation: disappear 0.2s linear; }

#list3-practices {
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #list3-practices .typeFile {
    font-size: 1em;
    margin: 5% 0; }

#title4:checked ~ #list4-practices {
  opacity: 1;
  animation: appear 0.4s linear; }

#title4:not(:checked) ~ #list4-practices {
  opacity: 0;
  animation: disappear 0.2s linear; }

#list4-practices {
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #list4-practices .typeFile {
    font-size: 1em;
    margin: 5% 0; }

.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1%; }
  .container .paragraphs {
    width: 80%;
    font-size: 95%; }

.images {
  display: flex;
  flex-direction: row; }
  .images img {
    width: 100%; }

.png {
  animation: changeBackgroundColor 0.5s infinite linear;
  border-radius: 999px; }

.icon {
  width: 64px; }

.exerciseFive {
  height: 100vh;
  width: 76vw;
  background-color: blue; }
  .exerciseFive div {
    display: inline-block;
    border: 1px solid black;
    width: 50px;
    height: 50px; }
  .exerciseFive #div1 {
    font-weight: bold; }
  .exerciseFive .emoji {
    width: 200px;
    font-size: 200px; }
  .exerciseFive .rojo {
    background-color: red;
    color: inherit; }
  .exerciseFive h2 {
    color: azure; }
  .exerciseFive h4 {
    color: azure; }
  .exerciseFive h6 {
    color: azure; }
  .exerciseFive i {
    font-size: 4em; }

.view-content {
  width: 75%;
  margin-left: 24%; }
